{% extends 'index.html' %}
{% block title %}Почтовые индексы РФ{% endblock %}
{% block section %}
    {% if db %}
        {% for row in db %}
            <h3>Почтовый индекс {{ row.post_name }}, {{ row.area }}, {{ row.region }}</h3>
            <h5>Адрес</h5>
            <h4>{{ row.post_name }}, {{ row.area }}, {{ row.region }}</h4>
            <h5>Почтовый индекс</h5>
            <h4>{{ row.post_index_value }}</h4>
            <h5>Дата актуализации информации</h5>
            <h4>{{ row.actual_date }}</h4>
            <br>
            {{ row.id }}
            {{ row.post_sub }}
            {{ row.city }}
            {{ row.autonomy }}
            {{ row.city_1 }}
            {{ row.city_1 }}
            {{ row.index_old }}
        {% endfor %}
    {% endif %}
{% endblock %}
{% block container %}
{% endblock %}