{% extends 'base.html' %}

{% block title %}
Post List
{% endblock %}


{% block section %}

{% endblock %}

{% block container %}
    <div class="bd-example">
        <ul class="list-group list-group-flush">
            {% for page in pages %}
                <li class="list-group-item"><a href="{{ page.get_absolute_url }}">
                    Почтовый индекс {{ page.post_name }}, {% if page.area %}{{ page.area }},{% endif %} {{ page.region }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% block pagination %}
{% if is_paginated %}
<div class="col-md-4 offset-md-4">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item {% if not prev_url %}disabled{% endif %}">
                <a class="page-link" href="{{prev_url}}" tabindex="-1" aria-disabled="true">Назад</a>
            </li>

            {% for n in page_object.paginator.page_range %}
            {% if page_object.number == n %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
            </li>
            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3%}
            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
            {% endif %}
            {% endfor %}

            <li class="page-item {% if not next_url %}disabled{% endif %}">
                <a class="page-link" href="{{next_url}}" tabindex="-1" aria-disabled="true">Вперёд</a>
            </li>
        </ul>
    </nav>
</div>
{% endif %}
{% endblock %}
{% endblock %}